services:
  api:
    container_name: api
    build: ./sqlProject
    ports:
      - "8080:8080"
    environment:
      - ConnectionString=server=sql-db;port=5432;database=${POSTGRES_DB};userid=app_writer;password=${APP_WRITER_PASSWORD}
      - JWT_KEY=${JWT_KEY}
      - MONGO_HOST=mongo-db
      - MONGO_PORT=27017
      - MONGO_APP_USER=${MONGO_APP_USER}
      - MONGO_APP_PW=${MONGO_APP_PW}
      - MONGO_DB=${MONGO_DB}
      - NEO4J_PW=${NEO4J_PW}
    depends_on:
      postgres:
        condition: service_started
      mongodb:
        condition: service_healthy
      neo4j:
        condition: service_healthy

  postgres:
    container_name: sql-db
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB} # optional (specify default database instead of $POSTGRES_DB)
      - APP_READER_PASSWORD=${APP_READER_PASSWORD}
      - APP_WRITER_PASSWORD=${APP_WRITER_PASSWORD}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - ./sqlProject/api/Sql/users.sql:/docker-entrypoint-initdb.d/users.sql
      - ./sqlProject/api/Sql/init-users.sh:/docker-entrypoint-initdb.d/01-init-users.sh
      - ./sqlProject/api/Sql/ddl.sql:/docker-entrypoint-initdb.d/02-ddl.sql
      - ./sqlProject/api/Sql/data.sql:/docker-entrypoint-initdb.d/03-data.sql
      - ./sqlProject/api/Sql/stored_objects.sql:/docker-entrypoint-initdb.d/04-stored-objects.sql

  mongodb:
    image: mongo:latest
    container_name: mongo-db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PW}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_APP_USER: ${MONGO_APP_USER}
      MONGO_APP_PW: ${MONGO_APP_PW}
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./documentProject/scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  neo4j:
    image: neo4j:latest
    container_name: neo4j-db
    restart: unless-stopped
    environment:
      - NEO4J_AUTH=neo4j/${NEO4J_PW}
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    healthcheck:
      test: wget http://neo4j-db:7474 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongodb_data:
    driver: local
  neo4j_data:
    driver: local
